@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "4Dogs";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0 0);
  --color-base-200: oklch(97% 0 0);
  --color-base-300: oklch(92% 0 0);
  --color-base-content: oklch(20% 0 0);
  --color-primary: oklch(82% 0.189 84.429);
  --color-primary-content: oklch(12% 0.042 264.695);
  --color-secondary: oklch(85% 0.199 91.936);
  --color-secondary-content: oklch(12% 0.042 264.695);
  --color-accent: oklch(58% 0.233 277.117);
  --color-accent-content: oklch(98% 0 0);
  --color-neutral: oklch(14% 0 0);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(62% 0.214 259.815);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(76% 0.233 130.85);
  --color-success-content: oklch(98% 0.031 120.757);
  --color-warning: oklch(75% 0.183 55.934);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.28125rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
